In [17]:
import pandas as pd

In [18]:
#Codigo 433 é o IPCA.Esse código é encontrado no diretório: https://www3.bcb.gov.br/sgspub/consultarvalores/consultarValoresSeries.do?method=consultarValores
url='http://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=json'

In [19]:
df=pd.read_json(url)
df["data"]=pd.to_datetime(df['data'],dayfirst=True)
df.set_index('data',inplace=True)

In [20]:
df

            valor
data
1980-01-01   6.62
1980-02-01   4.62
1980-03-01   6.04
1980-04-01   5.29
1980-05-01   5.70
...           ...
2020-09-01   0.64
2020-10-01   0.86
2020-11-01   0.89
2020-12-01   1.35
2021-01-01   0.25

[493 rows x 1 columns]